.loginRegisterSubmit
{
    align-content: center;
    justify-content: center;
    text-align: center;
}

#loginRegisterDiv {
    align-content: center;
    justify-content: center;
}

.card-header {
    text-align: center;
}